$primary-font: 'Roboto Condensed', sans-serif;
$primary-font-color: #FFF;

// Smartphones (portrait)
$screen-phone-portrait-min: 300px;


// Smartphones (landscape)
$screen-phone-landscape-min: 560px;

// Tablets (portrait)
$screen-tablet-portrait-min: 768px;

// Tablets (landscape) / Desktops (small)
$screen-tablet-landscape-min: 1024px;

// Desktops (medium)
$screen-desk-md-min: 1500px;

// Desktops (lg)
$screen-desk-lg-min: 1800px;

// Mixin declarations
// Smartphones (portrait)
@mixin phone-portrait {
  @media (min-width: #{$screen-phone-portrait-min}) and (orientation: portrait) {
    @content;
  }
}

// Smartphones (landscape)
@mixin phone-landscape {
  @media (min-width: #{$screen-phone-landscape-min}) {
    @content;
  }
}

// Tablets (portrait)
@mixin tablet-portrait {
  @media (min-width: #{$screen-tablet-portrait-min}) and (orientation: portrait) {
    @content;
  }
}

// Tablets (landscape)
@mixin tablet-landscape {
  @media (min-width: #{$screen-tablet-landscape-min}) {
    @content;
  }
}

// Desktops (medium)
@mixin desktop-medium {
  @media (min-width: #{$screen-desk-md-min}) {
    @content;
  }
}

// Desktops (large)
@mixin desktop-large {
  @media (min-width: #{$screen-desk-lg-min}) {
    @content;
  }
}

html {
  height: 100%;

  @include phone-portrait {
    font-size: 14px;
  }

  @include phone-landscape {
    font-size: 14px;
  }

  @include tablet-portrait {
    font-size: 18px;
  }

  @include tablet-landscape {
    font-size: 18px;
  }

  @include desktop-medium {
    font-size: 20px;
  }

  @include desktop-large {
    font-size: 22px;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: #962A2A;
  height: 98%;
  margin: 0.5%;
  align-items: center;
}

h1 {
  text-shadow: 5px 5px 1px #000;
  margin: 0;
  padding: 0px;

  @include phone-portrait {
    font-size: 3.7rem;
    text-shadow: 3px 3px 1px #000;
  }

  @include phone-landscape {
    font-size: 1.9rem;
    text-shadow: 2px 2px 1px #000;
  }

  @include tablet-portrait {
    font-size: 3rem;
    text-shadow: 3px 3px 1px #000;
  }

  @include tablet-landscape {
    font-size: 2.5rem;
    text-shadow: 4px 4px 1px #000;
  }

  @include desktop-medium {
    font-size: 2.6rem;
    text-shadow: 4px 4px 1px #000;
    margin: -10px;
  }

  @include desktop-large {
    font-size: 3rem;
    text-shadow: 4px 4px 1px #000;
    margin: -10px;
  }
}

h2 {
  font-style: italic;
  font-weight: lighter;
  margin: 0;

  @include phone-portrait {
    font-size: 1.3rem;
    text-shadow: 2px 2px 0px #000;
  }

  @include phone-landscape {
    font-size: 1rem;
    text-shadow: 2px 2px 0px #000;
  }

  @include tablet-portrait {
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #000;
  }

  @include tablet-landscape {
    font-size: 1.2rem;
    text-shadow: 2px 2px 0px #000;
  }

  @include desktop-medium {
    font-size: 1.2rem;
    text-shadow: 3px 3px 0px #000;
  }

  @include desktop-large {
    font-size: 1.3rem;
    text-shadow: 3px 3px 0px #000;
  }
}

h3 {
  display: inline;
  text-shadow: 3px 3px 0px #000;
  padding: 0px;
  margin: 0px;

  @include phone-portrait {
    font-size: 1.1rem;
    text-shadow: 2px 2px 0px #000;
  }

  @include phone-landscape {
    font-size: 1rem;
    text-shadow: 2px 2px 0px #000;
  }

  @include tablet-portrait {
    font-size: 1.5rem;
    text-shadow: 3px 3px 0px #000;
  }

  @include tablet-landscape {
    font-size: 1.3rem;
    text-shadow: 3px 3px 0px #000;
  }

  @include desktop-medium {
    font-size: 1.4rem;
    text-shadow: 3px 3px 0px #000;
  }

  @include desktop-large {
    font-size: 1.4rem;
    text-shadow: 4px 4px 0px #000;
  }
}

iframe {
  @include phone-portrait {
    width: 98vw;
    height: 98vw * 0.5625;
  }

  @include phone-landscape {
    height: 62vh;
    width: 62vh * 1.78;
  }

  @include tablet-portrait {
    width: 98vw;
    height: 98vw * 0.5625;
  }

  @include tablet-landscape {
    height: 65vh;
    width: 65vh * 1.78;
  }

  @include desktop-medium {
    height: 60vh;
    width: 60vh * 1.78;
  }
}

img {
  margin: 0;
  display: block;

  @include phone-portrait {
    $square-dimension: 30px;
    width: $square-dimension;
    height: $square-dimension;
  }

  @include phone-landscape {
    $square-dimension: 20px;
    width: $square-dimension;
    height: $square-dimension;
  }

  @include tablet-portrait {
    $square-dimension: 50px;
    width: $square-dimension;
    height: $square-dimension;
  }

  @include tablet-landscape {
    $square-dimension: 40px;
    width: $square-dimension;
    height: $square-dimension;
  }

  @include desktop-medium {
    $square-dimension: 40px;
    width: $square-dimension;
    height: $square-dimension;
  }

  @include desktop-large {
    $square-dimension: 45px;
    width: $square-dimension;
    height: $square-dimension;
  }
}

button {
  background-color: #D13A3A;
  border: 0px;
  border-radius: 5px;
  outline: none;
  text-shadow: 2px 2px 0px #000;
  box-shadow: 5px 5px 0px #000;

  @include phone-portrait {
    padding: 10px 26px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #000;
    box-shadow: 3px 3px 0px #000;
  }

  @include phone-landscape {
    padding: 5px 17px;
    font-size: 1rem;
    text-shadow: 2px 2px 0px #000;
    box-shadow: 2px 2px 0px #000;
  }

  @include tablet-portrait {
    padding: 10px 26px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #000;
    box-shadow: 3px 3px 0px #000;
  }

  @include tablet-landscape {
    padding: 10px 30px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #000;
    box-shadow: 3px 3px 0px #000;
  }

  @include desktop-medium {
    padding: 10px 30px;
    font-size: 1.5rem;
    text-shadow: 3px 3px 0px #000;
    box-shadow: 4px 4px 0px #000;
  }

  @include desktop-large {
    padding: 15px 35px;
    font-size: 1.8rem;
    text-shadow: 3px 3px 0px #000;
    box-shadow: 4px 4px 0px #000;
  }

  &:active {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0px #000;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    filter: grayscale(100%);
    cursor: wait;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.primary-text {
  font-family: $primary-font;
  color: $primary-font-color;
}

.player-info {
  align-items: center;

  @include phone-portrait {
    margin-top: 5px;
  }

  @include phone-landscape {
    margin-top: 2px;
  }

  @include tablet-portrait {
    margin-top: 5px;
  }

  @include tablet-landscape {
    margin-top: 3px;
  }

  @include desktop-medium {
    margin-top: 4px;
  }

  @include desktop-large {
    margin-top: 5px;
  }
}

.greyscale {
  filter: grayscale(100%);
}

.image-margin {
  @include phone-portrait {
    margin-right: 2px;
  }

  @include phone-landscape {
    margin-right: 2px;
  }

  @include tablet-portrait {
    margin-right: 4px;
  }

  @include tablet-landscape {
    margin-right: 3px;
  }

  @include desktop-medium {
    margin-right: 4px;
  }

  @include desktop-large {
    margin-right: 5px;
  }
}

.github-icon {
  @include phone-portrait {
    margin: 0;
  }

  @include phone-landscape {
    margin-left: 5px;
  }

  @include tablet-portrait {
    margin: 0;
  }

  @include tablet-landscape {
    margin-left: 7px;
  }

  @include desktop-medium {
    margin-left: 7px;
  }

  @include desktop-large {
    margin-left: 8px;
  }
}

.multiplayer {
  @include phone-portrait {
    overflow: visible;
  }

  @include phone-landscape {
    overflow: auto;
  }

  @include tablet-portrait {
    overflow: visible;
  }

  @include tablet-landscape {
    overflow: auto;
  }

  @include desktop-medium {
    overflow: visible;
  }
}

#header-text-container {
  align-items: center;
}

#lower-cluster {
  justify-content: space-between;

  @include phone-portrait {
    flex-direction: column-reverse;
    align-items: center;
  }
}

#player-cluster {
  @include phone-landscape {
    display: block;
    max-height: 36px;
  }

  @include tablet-landscape {
    display: block;
    max-height: 70px;
  }

  @include desktop-medium {
    display: flex;
    max-height: 100%;
  }
}

#control-cluster {
  margin-top: 5px;
}

#creator-info {
  align-items: center;
  margin-top: auto;

  @include phone-portrait {
    flex-direction: column;
  }
}
