html {
  height: 100%; }
  @media (min-width: 300px) and (orientation: portrait) {
    html {
      font-size: 14px; } }
  @media (min-width: 560px) {
    html {
      font-size: 14px; } }

body {
  display: flex;
  flex-direction: column;
  background-color: #962A2A;
  height: 98%;
  margin: 0.5%;
  align-items: center; }

h1 {
  text-shadow: 5px 5px 1px #000;
  margin: 0;
  padding: 0px; }
  @media (min-width: 300px) and (orientation: portrait) {
    h1 {
      font-size: 3.7rem;
      text-shadow: 3px 3px 1px #000; } }
  @media (min-width: 560px) {
    h1 {
      font-size: 1.9rem;
      text-shadow: 2px 2px 1px #000; } }

h2 {
  font-style: italic;
  font-weight: lighter;
  text-shadow: 2px 2px 0px #000;
  margin: 0; }
  @media (min-width: 300px) and (orientation: portrait) {
    h2 {
      font-size: 1.3rem; } }
  @media (min-width: 560px) {
    h2 {
      font-size: 1rem; } }

h3 {
  display: inline;
  text-shadow: 3px 3px 0px #000;
  padding: 0px;
  margin: 0px; }
  @media (min-width: 300px) and (orientation: portrait) {
    h3 {
      font-size: 1.25rem;
      text-shadow: 2px 2px 0px #000; } }
  @media (min-width: 560px) {
    h3 {
      font-size: 1rem;
      text-shadow: 2px 2px 0px #000; } }

iframe {
  width: auto;
  height: 178%; }
  @media (min-width: 560px) {
    iframe {
      height: 62vh;
      width: 110.36vh; } }

img {
  margin: 0;
  display: block; }
  @media (min-width: 300px) and (orientation: portrait) {
    img {
      width: 35px;
      height: 35px; } }
  @media (min-width: 560px) {
    img {
      width: 20px;
      height: 20px; } }

button {
  background-color: #D13A3A;
  border: 0px;
  border-radius: 5px;
  outline: none;
  text-shadow: 2px 2px 0px #000;
  box-shadow: 5px 5px 0px #000; }
  @media (min-width: 300px) and (orientation: portrait) {
    button {
      padding: 10px 26px;
      font-size: 1.5rem;
      text-shadow: 2px 2px 0px #000;
      box-shadow: 3px 3px 0px #000; } }
  @media (min-width: 560px) {
    button {
      padding: 5px 17px;
      font-size: 1rem;
      text-shadow: 2px 2px 0px #000;
      box-shadow: 2px 2px 0px #000; } }
  button:active {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0px #000; }
  button:hover {
    cursor: pointer; }
  button:disabled {
    filter: grayscale(100%);
    cursor: wait; }

a {
  color: inherit;
  text-decoration: none;
  display: inline; }

.flex-col-container {
  display: flex;
  flex-direction: column; }

.flex-row-container {
  display: flex;
  flex-direction: row; }

.primary-text {
  font-family: "Roboto Condensed", sans-serif;
  color: #FFF; }

.player-info {
  align-items: center;
  margin-top: 5px; }
  @media (min-width: 560px) {
    .player-info {
      margin-top: 2px; } }

.greyscale {
  filter: grayscale(100%); }
  @media (min-width: 300px) and (orientation: portrait) {
    .greyscale {
      margin-right: 5px; } }
  @media (min-width: 560px) {
    .greyscale {
      margin-right: 2px; } }

@media (min-width: 300px) and (orientation: portrait) {
  .image-anchor {
    margin-right: 5px; } }
@media (min-width: 560px) {
  .image-anchor {
    margin-right: 2px; } }

.github-icon {
  margin-left: 5px; }

@media (min-width: 560px) {
  .multiplayer {
    overflow: auto; } }

#header-text-container {
  align-items: center; }

@media (min-width: 300px) and (orientation: portrait) {
  #main-cluster {
    width: 98vw; } }

#lower-cluster {
  justify-content: space-between; }
  @media (min-width: 300px) and (orientation: portrait) {
    #lower-cluster {
      flex-direction: column-reverse;
      align-items: center; } }

@media (min-width: 560px) {
  #player-cluster {
    display: block;
    justify-content: space-between;
    max-height: 36px; } }

#control-cluster {
  margin-top: 5px; }

#creator-info {
  align-items: center;
  margin-top: auto; }
  @media (min-width: 300px) and (orientation: portrait) {
    #creator-info {
      flex-direction: column; } }

@media (min-width: 300px) and (orientation: portrait) {
  #credits {
    text-align: center; } }
