$primary-font: 'Roboto Condensed', sans-serif;
$primary-font-color: #FFF;

// Small devices (portrait)
$screen-sm-portrait-min: 600px;

// Small devices (landscape)
$screen-sm-landscape-min: 900px;

// Medium devices
$screen-md-min: 1200px;

// Large devices
$screen-lg-min: 1500px;

// Extra-large devices
$screen-xl-min: 1800px;

// Mixin declarations
// Small devices (portrait)
@mixin sm-portrait {
  @media (min-width: #{$screen-sm-portrait-min}) {
    @content;
  }
}

// Small devices (landscape)
@mixin sm-landscape {
  @media (min-width: #{$screen-sm-landscape-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra-large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

html {
  height: 100%;

  @include lg {
    font-size: 18px;
  }

  @include xl {
    font-size: 20px;
  }
}

body {
  background-color: #962A2A;
  height: 98%;
  margin: 0.5%;
  align-items: center;
}

h1 {
  text-shadow: 5px 5px 1px #000;
  margin: -10px;
  padding: 0px;

  @include lg {
    font-size: 2.6rem;
  }

  @include xl {
    font-size: 2.5rem;
  }
}

h2 {
  font-style: italic;
  font-weight: lighter;
  text-shadow: 2px 2px 0px #000;
  margin: 5px;

  @include lg {
    font-size: 1.2rem;
  }

  @include xl {
    font-size: 1.2rem;
  }
}

h3 {
  display: inline;
  text-shadow: 3px 3px 0px #000;
  padding: 0px;
  margin: 0px;

  @include lg {
    font-size: 1.5rem;
  }

  @include xl {
    font-size: 1.4rem;
  }
}

iframe {
  @include lg {
    width: 60vh * 1.78;
    height: 60vh;
  }

  @include xl {
    width: 60vh * 1.78;
    height: 60vh;
  }
}

img {
  margin: 0;
  display: block;

  @include lg {
    width: 35px;
    height: 35px;
  }

  @include xl {
    width: 45px;
    height: 45px;
  }
}

button {
  background-color: #D13A3A;
  border: 0px;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  text-shadow: 2px 2px 0px #000;
  box-shadow: 5px 5px 0px #000;

  @include lg {
    padding: 12px 26px;
  }

  @include xl {
    padding: 15px 30px;
  }

  &:active {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0px #000;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    filter: grayscale(50%);
    cursor: wait;
    box-shadow: 5px 5px 0px #000;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.primary-text {
  font-family: $primary-font;
  color: $primary-font-color;
}

.player-info {
  align-items: center;
  margin-top: 5px;
}

.greyscale {
  filter: grayscale(80%);
  margin-right: 5px;
}

.image-anchor {
  margin-right: 5px;
}

.github-icon {
  margin-left: 5px;
}

#lower-cluster {
  justify-content: space-between;
  overflow: visible;
}

#control-cluster {
  margin-top: 5px;
}

#creator-info {
  align-items: center;
  margin-top: auto;
}
