.footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 50px;
}

@mixin footer-link--phone-sm() {
    .footer-link {
        margin: 0;
    }
}

@mixin footer-link--phone-sm-pt() {
    .footer-link {
        margin-bottom: 5px;
    }
}

@mixin footer-link--tablet-pt() {
    .footer-link {
        margin: 0 10px;
        text-align: center;
    }
}

.footer-link-icon {
    height: 20px;
    width: auto;

    margin-left: 4px;
}