.footer-link {
    flex: 1 auto auto;
    text-align: center;
    padding: 0 2px;
}

.footer-link-text {
    font-size: 1em;
}

@mixin footer-link--phone-pt() {
    .footer-link-text {
        font-size: 1.5em;
    }
}

@mixin footer-link--tablet-md-pt() {
    .footer-link-text {
        font-size: 1.3em;
    }
}

@mixin footer-link--tablet-md-ls() {
    .footer-link-text {
        font-size: 1.2em;
    }
}

@mixin footer-link--tablet-lg-pt() {
    .footer-link-text {
        font-size: 1.3em;
    }
}

@mixin footer-link--tablet-lg-ls() {
    .footer-link-text {
        font-size: 1.35em;
    }
}