@import '../variables';

.player-info-container {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $gray-200;
    border-radius: 3px;
    overflow: auto;
    margin-bottom: 10px;
}

@mixin player-info-container--phone-pt() {
    .player-info-container {
        margin-bottom: 5px;
    }
}

@mixin player-info-container--phone-ls() {
    .player-info-container {
        margin-bottom: 5px;
    }
}

.player-info-container-header {
    flex: 0 0 auto;

    text-align: center;
    width: 100%;
    padding: 5px 0;
    background-color: $gray-100;
}

.player-info {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-radius: 3px;
    background-color: $gray-300;
    margin: 10px 0;
    padding: 5px 0;
}

@mixin player-info--phone-ls() {
    .player-info {
        margin: 3px 0;
    }
}

.player-social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 5px;
}

.player-social-icon {
    width: auto;
    height: 35px;

    margin: 0 5px;
}

@mixin player-social-icon--phone-pt() {
    .player-social-icon {
        height: 25px;
    }
}

@mixin player-social-icon--phone-ls() {
    .player-social-icon {
        height: 25px;
    }
}

@mixin player-social-icon--tablet() {
    .player-social-icon {
        height: 25px;
    }
}