@import '../variables';

.video-embed-container {
    width: 1440px;
    height: 810px;
    background-color: $gray-200;

    border-radius: 3px;
    overflow: hidden;
}

@mixin video-embed-container--desktop-sm {
    .video-embed-container {
    width: 896px;
    height: 504px;
    }
}