@import '../variables';

.wr-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $bottom-row-height;
}

@mixin wr-info-container--tablet-md-pt() {
    .wr-info-container {
        height: auto;
    }
}

.url-text-area {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.copy-url-button {
    width: 32px;
    margin-left: 5px;
    cursor: pointer;
}

.tooltip {
    position: relative;
}

.tooltip-container {
    position: absolute;
    bottom: 100%;
    left: 50%;
    background-color: rgba($gray-100, .8);
    text-align: center;
    padding: 3px 5px;
    border-radius: 3px;
}

@mixin wr-info--phone-pt() {
    .wr-info-container {
        height: auto;
        margin: 0 5px 3px;
    }

    .copy-url-button {
        width: 25px;
    }
}

@mixin wr-info--phone-ls() {
    .wr-info-container {
        height: 50px;
    }

    .copy-url-button {
        width: 25px;
    }
}