@import '../variables';

.wr-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1440px;
    height: 100%;
}

@mixin wr-info-container--desktop-sm {
    .wr-info-container {
        width: 896px;
    }
}

@mixin wr-info-container--desktop-md {
    .wr-info-container {
        width: 1024px;
    }
}

@mixin wr-info-container--desktop-lg {
    .wr-info-container {
        width: 1152px;
    }
}

.url-text-area {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.copy-url-button {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
}

.tooltip {
    position: relative;
}

.tooltip-container {
    position: absolute;
    bottom: 100%;
    left: 50%;
    background-color: rgba($gray-100, .8);
    text-align: center;
    padding: 3px 5px;
    border-radius: 3px;
}