@import '../variables';

.url-text-area {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.copy-url-button {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
}