// Base CSS Rules
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    background-color: $gray-300;
}

main {
    display: flex;
    flex-direction: row-reverse;

    box-sizing: border-box;
    padding: 10px;

    width: 100%;
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 5px 0;

    background-color: $gray-100;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    font-family: $main-font;
    color: $off-white;
}

h1 {
    font-weight: 500;
}

h2, h3, h4, h5, h6, p {
    font-weight: 100;
}

button:disabled {
    cursor: not-allowed;
}

@mixin base--phone-pt() {
    html, body {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }

    html {
        font-size: 11px;
    }

    main {
        flex-direction: column;
        padding: 0;
    }

    footer {
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 3px;
    }
}

@mixin base--phone-ls() {
    html {
        font-size: 11px;
    }

    main {
        padding: 5px;
    }
}

@mixin base--tablet-md-pt() {
    main {
        flex-direction: column;
    }

    footer {
        justify-content: space-around;
    }
}

@mixin base--tablet-lg-pt() {
    html {
        font-size: 21px;
    }

    main {
        flex-direction: column;
    }

    p {
        font-size: 1.75em;
    }
}

@mixin base--tablet-lg-ls() {
    html {
        font-size: 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
}

@mixin base--desktop() {
    footer {
        justify-content: center;
    }
}