// Fonts
@font-face {
    font-family: Mohave;
    src: url(/src/fonts/Mohave-Light.otf);
    font-weight: 100;
}

@font-face {
    font-family: Mohave;
    src: url(/src/fonts/Mohave-Medium.otf);
    font-weight: 500;
}

// Variable declaration
$gray-100: #1C1C1C;
$gray-200: #303030;
$gray-300: #494949;

$primary-200: #ED2828;
$primary-300: #FF4242;

$off-white: #D3D3D3;

$main-font: Mohave;