// Fonts
@font-face {
    font-family: Mohave;
    src: url(/src/fonts/Mohave-Light.otf);
    font-weight: 100;
}

@font-face {
    font-family: Mohave;
    src: url(/src/fonts/Mohave-Medium.otf);
    font-weight: 500;
}

$main-font: Mohave;

// Colors
$gray-100: #1C1C1C;
$gray-200: #303030;
$gray-300: #494949;
$gray-400: #686868;
$gray-500: #8E8E8E;

$primary-200: #ED2828;
$primary-300: #FF4242;

$off-white: #D3D3D3;

// Media Query Breakpoints
$desktop-sm-min: 1200px;
$desktop-md-min: 1350px;
$desktop-lg-min: 1500px;