@import 'variables';

// Base CSS Rules
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

@mixin html-body--phone-pt() {
    html, body {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
}

html {
    font-size: 18px;
}

@mixin font-size--phone-pt() {
    html {
        font-size: 11px;
    }
}

@mixin font-size--phone-ls() {
    html {
        font-size: 11px;
    }
}

@mixin font-size--laptop() {
    html {
        font-size: 16px;
    }
}

@mixin font-size--tablet-landscape() {
    html {
        font-size: 13px;
    }
}

body {
    display: flex;
    flex-direction: column;

    background-color: $gray-300;
}

main {
    display: flex;
    flex-direction: row-reverse;

    box-sizing: border-box;
    padding: 10px;

    width: 100%;
    flex: 1;
}

@mixin main--phone-pt() {
    main {
        flex-direction: column;
        padding: 0;
    }
}

@mixin main--phone-ls() {
    main {
        padding: 5px;
    }
}

@mixin main--tablet-md-pt() {
    main {
        flex-direction: column;
    }
}

@mixin main-padding-none() {
    main {
        padding: 0;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 5px 0;

    background-color: $gray-100;
}

@mixin footer--phone-pt() {
    footer {
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 3px;
    }
}

@mixin footer--tablet-md-pt() {
    footer {
        justify-content: space-around;
    }
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    font-family: $main-font;
    color: $off-white;
}

h1, h2 {
    font-weight: 500;
}

h3, h4, h5, h6, p {
    font-weight: 100;
}

h1 {
    font-size: 3.75em;
}

@mixin h1--phone-ls() {
    h1 {
        font-size: 2.3em;
    }
}

@mixin h1--tablet() {
    h1 {
        font-size: 3.5em;
    }
}

h2 {
    font-weight: 100;
    font-size: 2.25em;
}

@mixin h2--phone-pt() {
    h2 {
        font-size: 2em;
    }
}

@mixin h2--phone-ls() {
    h2 {
        font-size: 1.8em;
    }
}

@mixin h2--medium() {
    h2 {
        font-size: 2em;
    }
}

h3 {
    font-size: 2em;
}

@mixin h3--tablet-md-pt() {
    h3 {
        font-size: 2.2em;
    }
}

@mixin p--phone-pt() {
    p {
        font-size: 1.5em;
    }
}

@mixin p--tablet-md-pt() {
    p {
        font-size: 1.3em;
    }
}

iframe {
    width: 100%;
    height: 100%;
}

@mixin iframe--phone-pt() {
    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@mixin iframe--tablet-md-pt() {
    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }
}

button:disabled {
    cursor: not-allowed;
}