@import 'variables';

// Layout CSS Rules
.l-main-primary {
    display: flex;
    flex-direction: row;
    height: 810px;

    margin-bottom: 10px;
}

@mixin l-main-primary--desktop-sm {
    .l-main-primary {
        height: 504px;
    }
}

@mixin l-main-primary--desktop-md {
    .l-main-primary {
        height: 576px;
    }
}

@mixin l-main-primary--desktop-lg {
    .l-main-primary {
        height: 648px;
    }
}
.l-main-secondary {
    flex: 1;

    display: flex;
    flex-direction: row;
    min-height: 75px;

    align-items: flex-start;
}