@import 'variables';

// Layout CSS Rules
.l-main-primary {
    flex: 1 1 auto;
    
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.l-main-secondary {
    display: flex;
    flex-direction: column;
    width: $left-column-width;
}

@mixin layout--phone-pt() {
    .l-main-primary {
        flex: 0 0 auto;
        margin: 0 0 3px;
    }

    .l-main-secondary {
        flex: 1 1 auto;

        width: 100%;
        box-sizing: border-box;
        padding: 0 5px;
        align-items: center;
    }
}

@mixin layout--phone-ls() {
    .l-main-primary {
        margin-left: 5px;
    }

    .l-main-secondary {
        flex: 0 0 auto;
        width: 200px;
    }
}

@mixin layout--tablet-md-pt() {
    .l-main-primary {
        flex: 0 0 auto;
        margin: 0 0 10px;
    }

    .l-main-secondary {
        flex: 1 1 auto;

        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }
}

@mixin layout--tablet-md-ls() {
    .l-main-secondary {
        flex: 0 0 auto;

        width: 250px;
    }
}

@mixin layout--tablet-lg-pt() {
    .l-main-primary {
        flex: 0 0 auto;
        margin: 0;
    }

    .l-main-secondary {
        flex: 1 1 auto;
        width: 100%;
    }
}

@mixin layout--tablet-lg-ls() {
    .l-main-primary {
        flex: 0 0 auto;

        width: 90%;
        margin: 0;
    }

    .l-main-secondary {
        flex: 1 1;

        flex-direction: row-reverse;
        width: 90%;
        padding: 0 10px;
    }
}