@import 'variables';

// Layout CSS Rules
.l-main-primary {
    display: flex;
    flex-direction: row;

    margin-bottom: 5px;
}

.l-main-secondary {
    flex: 1;

    display: flex;
    flex-direction: row;

    align-items: flex-start;
}

.l-wr-button-container {
    flex: 1;

    height: 100%;
    margin-left: 5px;
    background-color: $gray-200;
}

.l-wr-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1440px;
    height: 100%;
}