// State CSS Rules
.slide-in-down-enter-active {
    animation: slide-in-down 0.3s;
}

.slide-in-down-leave-active {
    animation: slide-in-down 0.3s reverse;
}

@keyframes slide-in-down {
    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.slide-up-in-enter-active {
    animation: slide-up-in 0.3s;
}

.slide-up-in-leave-active {
    animation: slide-up-in 0.3s reverse;
}

@keyframes slide-up-in {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}