// State CSS Rules
.slide-in-down-enter-active {
    animation: slide-in-down 0.3s;
}

.slide-in-down-leave-active {
    animation: slide-in-down 0.3s reverse;
}

@keyframes slide-in-down {
    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.slide-in-up-enter-active {
    animation: slide-in-up 0.3s;
}

.slide-in-up-leave-active {
    animation: slide-in-up 0.3s reverse;
}

@keyframes slide-in-up {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.15s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}